<div class="container" style="margin-bottom: 100px;">
  <div class="row" style="margin-top: 100px;">
    <h2 style="color: #7071E8; font-weight: bold; margin-bottom: 20px;">Contenu SEO Stratégique</h2>
    <div class="col-md-12"><p style="font-size: 18px">Bienvenue chez Helivo, votre partenaire de confiance pour une présence en ligne optimale. Découvrez notre service exclusif de <span style="color: #7071E8;">Contenu SEO Stratégique</span>, propulsé par notre expertise de pointe en création de contenu assistée par l'IA. Avec Helivo, transformez votre visibilité en ligne et démarquez-vous de la concurrence grâce à une stratégie SEO qui fait toute la différence.</p></div>
  </div>
</div>
<%= image_tag 'psm_banner.png', class: "psm_banner" %>
<div class="container" style="width: 80%; margin-top: 50px;">
  <h3 class="title-psm">Pourquoi choisir notre <span style="color: #7071E8;">Contenu SEO Stratégique ?</span></h3>
  <p class="mb-4">Chez Helivo, nous comprenons l'importance cruciale d'une présence en ligne bien optimisée. C'est pourquoi nous avons mis en place des algorithmes intelligents et des processus accélérés pour créer un contenu SEO rapidement et de manière rentable. Notre avantage distinct réside dans l'alliance synergique entre l'IA et le développement web, vous garantissant une stratégie de contenu SEO qui maximise l'efficacité de votre budget.</p>
  <p class="text-psm" style="font-weight: bold;">Les avantages de notre service :

</p>
  <div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'carroussel1.png', class: "psm-img-carroussel" %>
      <div class="carousel-caption d-none d-md-block">
        <h3 style="font-weight: bold; font-size: 20px; margin-bottom: 10px;">Optimisation Rapide :</h3>
        <p>Grâce à notre expertise en intelligence artificielle, nous produisons un contenu SEO optimisé en un temps record, vous permettant de voir des résultats exceptionnels plus rapidement.</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'carroussel2.png', class: "psm-img-carroussel" %>
      <div class="carousel-caption d-none d-md-block">
        <h3 style="font-weight: bold; font-size: 20px; margin-bottom: 10px;">Coût Optimisé :</h3>
        <p>Notre approche innovante combine l'efficacité de l'IA avec des processus de développement web optimisés, ce qui se traduit par des coûts compétitifs et une valeur exceptionnelle pour nos clients.</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'carroussel3.png', class: "psm-img-carroussel" %>
      <div class="carousel-caption d-none d-md-block">
        <h3 style="font-weight: bold; font-size: 20px; margin-bottom: 10px;">Stratégie Personnalisée :</h3>
        <p>Chaque projet est unique, c'est pourquoi notre équipe dédiée collabore étroitement avec vous pour comprendre vos besoins spécifiques et élaborer une stratégie de contenu SEO sur mesure.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <div style="margin-top: 75px;">
    <h2 class="mb-3" style="font-weight: bold;">IA et SEO : Votre Succès en Trois Étapes</h2>
    <p class="mb-3">Chez Helivo, notre <strong>Contenu SEO Stratégique</strong> tire sa puissance de l'intelligence artificielle, offrant une optimisation SEO rapide et agile.</p>
    <ul>
      <li><strong>Analyse Ciblée :</strong> L'IA accélère l'identification des besoins, combinant audits techniques et entretiens pour une analyse précise.</li><br>
      <li><strong>Validation Dynamique :</strong> Collaborant avec vos équipes, l'IA dérisque le projet en validant dynamiquement le périmètre, garantissant une valeur maximale.</li><br>
      <li><strong>Développement Agile :</strong> Grâce à l'IA, notre approche itérative est rapide et précise, assurant une adaptation constante et la satisfaction des utilisateurs.</li><br>
    </ul>
    <h2 class="mb-3" style="font-weight: bold;">Pourquoi l'IA ?</h2>
    <ul>
      <li><strong>Rapidité et Agilité</strong></li>
      <li><strong>Validation Précise du Périmètre</strong></li>
      <li><strong>Anticipation des Besoins SEO</strong></li>
    </ul>
    <p>L'IA propulse votre présence en ligne vers le succès. Prêts à maximiser votre visibilité ? Discutons de votre projet dès maintenant.</p>
  </div>
</div>
