<div class="container" style="margin-bottom: 100px;">
  <div class="row" style="margin-top: 100px;">
    <h2 style="color: #7071E8; font-weight: bold; margin-bottom: 20px;">Maintenance active</h2>
    <div class="col-md-12"><p style="font-size: 18px">Bienvenue sur la page dédiée à notre service de <span style="color: #7071E8;">Maintenance Active</span> chez <span style="color: #7071E8;">Helivo</span>. Nous comprenons l'importance cruciale de maintenir votre site web à son apogée, et c'est pourquoi nous avons conçu une solution intégrée, alliant la puissance de l'intelligence artificielle à notre expertise en développement web.</p></div>
  </div>
</div>
<%= image_tag 'psm_banner.png', class: "psm_banner" %>
<div class="container" style="width: 80%; margin-top: 50px;">
  <h3 class="title-psm">Garantissez la <span style="color: #7071E8;">performance continue</span></h3>
  <p class="mb-4">Gardez votre site à son meilleur niveau grâce à notre service de <strong>Maintenance Active</strong>, soutenu par l'efficacité de l'<strong>Intelligence Artificielle</strong>. Notre système intelligent identifie les problèmes potentiels avant qu'ils ne surviennent, assurant une disponibilité maximale de votre site. L'IA nous permet d'offrir une maintenance proactive et rapide, vous épargnant des interruptions coûteuses et garantissant une expérience utilisateur optimale.</p>
  <p class="text-psm" style="font-weight: bold;">Pourquoi choisir notre service de Maintenance Active ?</p>
  <div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'carroussel1.png', class: "psm-img-carroussel" %>
      <div class="carousel-caption d-none d-md-block">
        <h3 style="font-weight: bold; font-size: 20px; margin-bottom: 10px;">Analyse Prédictive :</h3>
        <p>Notre IA analyse en continu les performances de votre site, identifiant les éventuels problèmes avant qu'ils ne deviennent critiques.</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'carroussel2.png', class: "psm-img-carroussel" %>
      <div class="carousel-caption d-none d-md-block">
        <h3 style="font-weight: bold; font-size: 20px; margin-bottom: 10px;">Réparation Rapide :</h3>
        <p>Nous ne nous contentons pas de réparer. Notre équipe travaille constamment à l'optimisation de votre site pour une performance toujours plus remarquable.</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'carroussel3.png', class: "psm-img-carroussel" %>
      <div class="carousel-caption d-none d-md-block">
        <h3 style="font-weight: bold; font-size: 20px; margin-bottom: 10px;">Optimisation Continue :</h3>
        <p>Notre <strong>équipe de développement</strong> adopte une approche <strong>agile</strong>, développant par <strong>petits lots</strong> les différentes composantes du projet. Tout au long du processus, des <strong>tests utilisateurs réguliers</strong> sont organisés pour recueillir les <strong>feedbacks</strong>, assurant ainsi une adaptation constante aux <strong>besoins</strong> et une réalisation optimale des <strong>hypothèses de départ</strong>.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <div style="margin-top: 75px;">
    <h2 class="mb-3" style="font-weight: bold;">Les Avantages de notre Maintenance Active</h2>
    <p class="mb-3"><strong>Alliance de l'IA et du Développement Web :</strong> Notre approche unique combine l'intelligence artificielle et le développement web pour assurer une création rapide et une maintenance efficace.</p>
    <p class="mb-5"><strong>Économies Financières :</strong> Les processus accélérés et les coûts optimisés grâce à notre expertise en intelligence artificielle se traduisent par un avantage financier indéniable pour nos clients.</p>
    <h2 class="mb-3" style="font-weight: bold;">Engagez-vous dans l'Excellence avec Helivo</h2>
    <p class="mb-3">Chez <strong>Helivo</strong>, nous croyons en la <strong>Collaboration Active pour des Résultats Significatifs</strong>. Notre engagement envers la <strong>Réussite de nos Clients</strong> guide chaque aspect de nos services. En choisissant Helivo, vous optez pour des solutions <strong>à la Pointe de la Technologie</strong>, propulsées par notre passion pour l'innovation.</p>
    <p>Si vous êtes prêt à garantir la continuité et l'excellence de votre présence en ligne, notre équipe est prête à vous accompagner. Discutons de la manière dont notre service de Maintenance Active peut bénéficier à votre site web.</p>
  </div>
</div>
