<body class="modernisation-page">
  <div class="container" style="margin-bottom: 100px;">
  <div class="row">
    <div class="col-md-6" style="margin-top: 100px">
      <h2 class="title-service"><span style="color: #7071E8;">Modernisation</span> de Projets</h2>
      <p>Passons à l'étape supérieure avec la modernisation de votre projet.<br><br> Chez <strong>Helivo</strong>, nous comprenons l'importance de rester à la pointe de la technologie. Notre service de <strong>modernisation de projets</strong> est conçu pour maximiser la valeur de votre plateforme existante tout en neutralisant tout impact opérationnel négatif. <br><br>Avec notre méthodologie spécifique, nous vous accompagnons à chaque étape du processus de refonte technique, assurant une migration sans heurt tout en optimisant l'impact sur votre activité.</p>
    </div>
    <div class="col-md-6 d-flex justify-content-end align-items-end">
      <%= image_tag "services2.png", class: "img-service" %>
    </div>
  </div>

</div>

<div class="section-modernisation">
  <h3 class="title-section-modernisation">Pourquoi <span style="color: #7071E8;">moderniser</span> ?</h3>

  <div class="text-section-modernisation">
    <p>Votre site web est un actif vital pour votre entreprise, mais peut-être qu&#39;il est temps de passer à la vitesse supérieure. <br>Si votre site est obsolète, si vos outils internes ne répondent plus aux attentes des utilisateurs, ou si votre plateforme web ne suit pas le rythme des évolutions du marché, la modernisation est la clé.</p><br><br>
    <p><em>Indicateurs clés que vous pourriez avoir besoin d&#39;une modernisation :</em></p>
  </div>


  <div class="d-flex align-items-start mb-5">
    <button class="btn btn-section-modernisation me-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample1" aria-expanded="true" aria-controls="collapseWidthExample1" style="max-width: 300px; font-family: 'Roboto', sans-serif;">
      <div class="row">
        <div class="col-md-4 d-flex align-items-center"><%= image_tag 'icon_modernisation1.png', class: "img-section-modernisation" %></div>
        <div class="col-md-8"><p>Votre site web ne peut plus évoluer en raison de son ancienneté.</p></div>
      </div>
    </button>
    <div class="collapse show" id="collapseWidthExample1">
      <div class="card card-body" style="max-width: 450px; border-radius: 25px; background-color: #31304D; color: #fff;">
        <p>C'est un constat crucial : si votre site web est resté inchangé pendant une période prolongée, il risque de devenir obsolète et de ne plus répondre aux normes technologiques actuelles. <br><br>Les technologies évoluent rapidement, et un site ancien peut non seulement manquer de fonctionnalités essentielles mais également devenir vulnérable aux problèmes de sécurité. <br><br>La modernisation de votre site avec <strong>Helivo</strong> vous permettra de lui insuffler une nouvelle vie, le rendant à nouveau adaptable et évolutif.</p>
      </div>
    </div>
  </div>

<div class="d-flex align-items-start mb-5">
  <button class="btn btn-section-modernisation me-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample2" style="max-width: 300px; font-family: 'Roboto', sans-serif;">
    <div class="row">
      <div class="col-md-4 d-flex align-items-center"><%= image_tag 'icon_modernisation2.png', class: "img-section-modernisation" %></div>
      <div class="col-md-8"><p>Les outils web internes ne répondent plus aux attentes des utilisateurs.</p></div>
    </div>

  </button>
  <div class="collapse" id="collapseWidthExample2">
    <div class="card card-body" style="max-width: 450px; border-radius: 25px; background-color: #31304D; color: #fff;">
      <p>Si vos outils web internes ne satisfont plus les besoins et les attentes de vos utilisateurs, il est temps d'envisager une modernisation. Des fonctionnalités obsolètes ou inefficaces peuvent entraver la productivité de votre équipe et affecter négativement l'expérience utilisateur. <br><br>Avec notre service de <strong>Modernisation de Projets</strong>, nous nous engageons à repenser et à optimiser vos outils internes, en les adaptant aux exigences actuelles pour garantir une utilisation fluide et efficace.</p>
    </div>
  </div>
</div>

<div class="d-flex align-items-start mb-5">
  <button class="btn btn-section-modernisation me-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample3" aria-expanded="false" aria-controls="collapseWidthExample3" style="max-width: 300px; font-family: 'Roboto', sans-serif;">
    <div class="row">
      <div class="col-md-4 d-flex align-items-center"><%= image_tag 'icon_modernisation3.png', class: "img-section-modernisation" %></div>
      <div class="col-md-8"><p>La plateforme web ne s'adapte pas assez rapidement et les bugs deviennent fréquents.</p></div>
    </div>

  </button>
  <div class="collapse" id="collapseWidthExample3">
    <div class="card card-body" style="max-width: 450px; border-radius: 25px; background-color: #31304D; color: #fff;">
      <p>Une plateforme web qui ne s'adapte pas rapidement aux changements du marché peut entraîner des problèmes significatifs, notamment une augmentation des bugs et des performances dégradées. <br><br>Les conséquences de ces défis peuvent être dévastatrices pour votre activité en ligne. <br><br>Avec <strong>Helivo</strong>, nous offrons une approche proactive de la modernisation, résolvant les problèmes de performance, renforçant la sécurité applicative et assurant une adaptabilité constante pour éviter les écueils liés à l'obsolescence.</p>
    </div>
  </div>
</div>

<script>
  // Fermer les collapses précédemment ouverts lors de l'ouverture d'un nouveau collapse
  $('.collapse').on('show.bs.collapse', function () {
    $('.collapse.show').not(this).collapse('hide');
  });
</script>

</div>

<div class="container">
  <h3 style="bold">Notre méthode</h3><br>
  <p style="color: #818FB4;"><em>Analyser, dérisquer, exécuter</em></p>
  <br>
  <ol>
    <li><strong>Analyse de l'existant :</strong> Nous commençons par examiner ce qui dysfonctionne, tant du point de vue technique que fonctionnel. Cela comprend des audits techniques approfondis et des entretiens avec les utilisateurs pour une compréhension holistique de votre situation actuelle.</li><br>
    <li><strong>Validation du périmètre :</strong> Avant de plonger dans le développement, nous validons le périmètre du projet avec vos équipes et notre expertise. Cela implique la co-construction des spécifications techniques et fonctionnelles, ainsi que des tests approfondis auprès des clients et des utilisateurs internes pour garantir la valeur ajoutée.</li><br>
    <li><strong>Développement itératif évolutif et agile :</strong> Notre approche de développement se base sur une équipe dédiée qui travaille par petits lots, permettant une flexibilité maximale. Des tests utilisateurs réguliers s'insèrent dans le processus pour recueillir des retours continus et garantir l'alignement avec les objectifs initiaux.</li><br>
  </ol><br>
  <p style="font-weight: bold;">Engagez-vous dans la modernisation avec Helivo pour transformer votre projet existant en une solution agile, performante et parfaitement adaptée à vos besoins futurs.</p>
</div>
</body>
