<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5">
      <h2 class="title-service"><span style="color: #7071E8;">Modernisation</span> de Projets</h2>
      <p>Passons à l'étape supérieure avec la modernisation de votre projet.<br><br> Chez <strong>Helivo</strong>, nous comprenons l'importance de rester à la pointe de la technologie. Notre service de <strong>modernisation de projets</strong> est conçu pour maximiser la valeur de votre plateforme existante tout en neutralisant tout impact opérationnel négatif. <br><br>Avec notre méthodologie spécifique, nous vous accompagnons à chaque étape du processus de refonte technique, assurant une migration sans heurt tout en optimisant l'impact sur votre activité.</p>
    </div>
    <div class="col-md-6 d-flex justify-content-end align-items-end">
      <%= image_tag "services2.png", class: "img-service" %>
    </div>
  </div>
  <div class="section-modernisation">
    <div class="row">

    </div>
  </div>

</div>
