<div class="container" style="margin-bottom: 100px;">
  <div class="row" style="margin-top: 100px;">
    <h2 style="color: #7071E8; font-weight: bold; margin-bottom: 20px;">Projets sur mesure</h2>
    <div class="col-md-12"><p style="font-size: 18px">Découvrez l'excellence sur mesure avec <span style="color: #7071E8;">Helivo</span>. Nos <span style="color: #7071E8;">projets sur mesure</span>, boostés par l'<span style="color: #7071E8;">IA</span>, représentent l'avenir du développement web. Notre approche révolutionnaire et l'intégration judicieuse de l'<span style="color: #7071E8;">IA</span> garantissent une productivité accrue, réduisant le temps de développement tout en préservant une qualité exceptionnelle.</p></div>
  </div>
</div>
<%= image_tag 'psm_banner.png', class: "psm_banner" %>
<div class="container" style="width: 80%; margin-top: 50px;">
  <h3 class="title-psm">Libérez le <span style="color: #7071E8;">potentiel</span> de votre entreprise</h3>
  <p class="text-psm">Bénéficiez de solutions personnalisées adaptées à vos besoins spécifiques, propulsant votre entreprise vers des sommets inédits de manière rapide et efficace grâce à l'intelligence artificielle. Les étapes de construction de nos Projets sur mesure sont les suivantes :</p>
  <div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'carroussel1.png', class: "psm-img-carroussel" %>
      <div class="carousel-caption d-none d-md-block">
        <h3 style="font-weight: bold; font-size: 20px; margin-bottom: 10px;">Analyse approfondie de vos besoins :</h3>
        <p>Nous débutons par une évaluation minutieuse de vos exigences techniques et fonctionnelles. Des <strong>audits techniques</strong> et des <strong>interviews utilisateurs</strong> permettent de comprendre en profondeur ce qui dysfonctionne et d'identifier les opportunités d'amélioration.</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'carroussel2.png', class: "psm-img-carroussel" %>
      <div class="carousel-caption d-none d-md-block">
        <h3 style="font-weight: bold; font-size: 20px; margin-bottom: 10px;">Co-construction du périmètre avec vous :</h3>
        <p>Pour <strong>dérisquer</strong> le projet et garantir la valeur délivrée, nous collaborons étroitement avec votre <strong>équipe</strong>. En concertation avec votre <strong>équipe interne</strong>, nous élaborons les spécifications techniques et fonctionnelles de la refonte, ainsi que la <strong>stratégie de migration</strong>. Des <strong>tests</strong> auprès des clients et utilisateurs internes valident la pertinence de nos choix.</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'carroussel3.png', class: "psm-img-carroussel" %>
      <div class="carousel-caption d-none d-md-block">
        <h3 style="font-weight: bold; font-size: 20px; margin-bottom: 10px;">Développement itératif évolutif et agile :</h3>
        <p>Notre <strong>équipe de développement</strong> adopte une approche <strong>agile</strong>, développant par <strong>petits lots</strong> les différentes composantes du projet. Tout au long du processus, des <strong>tests utilisateurs réguliers</strong> sont organisés pour recueillir les <strong>feedbacks</strong>, assurant ainsi une adaptation constante aux <strong>besoins</strong> et une réalisation optimale des <strong>hypothèses de départ</strong>.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <div style="margin-top: 75px;">
    <h2 class="mb-3" style="font-weight: bold;">Pourquoi une refonte avec Helivo ?</h2>
    <p class="mb-3">Notre expertise combinée en <strong>développement web</strong>, <strong>intelligence artificielle</strong>, et <strong>optimisation SEO</strong> fait de nous le partenaire idéal pour maximiser la valeur de votre projet. Nous comprenons que la réussite d'une refonte réside dans l'équilibre entre l'innovation et la préservation de ce qui fonctionne déjà.</p>
    <p><strong>Helivo</strong> s'engage à vous accompagner tout au long du processus, de l'analyse initiale à la livraison réussie du projet. Passons ensemble à l'étape suivante de l'excellence sur mesure. <strong>Contactez-nous</strong> pour discuter de votre projet et explorer les opportunités qui s'offrent à votre entreprise.</p>
  </div>
</div>
