.landing-banner {
  background-image: url('landing_image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.titre {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 64px;
}

.couleur-accent {
  color: #7071E8;
}

.sous-titre {
  max-width: 55%;
  margin: 20px auto 0;
}

.texte-accroche {
  color: #565973;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.texte-accroche-gras {
  font-weight: bold;
  color: white;
}

.boutoncontact {
  background-color: #7071E8;
  color: white;
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 40px;

  /* Animation de survol */
  &:hover {
    background-color: #5c5cb8;
    transform: scale(1.05);
  }
}

/* Style pour le texte à l'intérieur du bouton */
.contactez-nous {
  font-weight: bold;
}

/* Animation d'apparition */
.button-frame {
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.details {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #565973;
}

.avantage {
  margin-left: 8px;
}

/* SERVICES */

.conteneur-services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  text-align: center;
  margin: 0 140px;
}

.titre-services {
  grid-column: span 4;
  margin-bottom: 0px;
  font-size: 28px;
  font-weight: bold;
  margin-top: 50px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.titre-service {
  font-weight: bold;
  font-size: 16px;
  margin-top: 15px;
}

.texte-service {
  font-size: 16px;
  margin-top: 15px;
}

/* CONTACT */

.contactus {
  background-image: url('homepage_lowerbanner1.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 75px 250px;
  margin-bottom: 175px;
  border-radius: 8px;
  text-align: center;
}

.contactusframe {
  max-width: 600px;
  margin: 0 auto;
}

.titre-contact {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
}

.text-contact {
  margin-top: 20px;
  font-size: 20px;
}

.boutoncontact:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* Section Notre mission */

.notre-mission {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #265073;
  margin-top: 50px;
  color: white;
  padding: 50px 140px;
}

.notre-mission-frame {
  display: flex;
  flex-direction: column;
}

.titre-notre-mission {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #dcbfff;
}

.texte-notre-mission {
  font-size: 28px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  width: 50%;
  margin-bottom: 25px;
}

.image-description-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.image-notre-mission {
  margin-right: 20px; /* Ajustez la marge selon votre mise en page */
}

.img-nm {
  width: 400px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.description-notre-mission {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  width: 50%;
  margin-top: 20px;
}

.image-notre-mission:last-child {
  margin-top: 20px; /* Ajustez la marge selon votre mise en page */
}

.img-mission {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Section info */

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 50px 140px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

.text-info-helivo {
  font-size: 16px;
  width: 40%;
}

.item img {
  width: 486px;
  height: 280px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.info-titre-principal {
  font-size: 26px;
  font-weight: bold;
  width: 40%;
}

@media (max-width: 576px) {
  .landing-banner {
    height: auto;
  }

  .titre {
    font-size: 36px;
    margin-top: 75px;
  }

  .sous-titre {
    max-width: 100%;
    margin: 20px 30px 0 30px;
    font-size: 16px;
  }

  .texte-accroche {
    font-size: 16px;
  }

  .boutoncontact {
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 20px;
    width: 70%;
  }

  .details {
    position: relative;
    left: initial;
    transform: initial;
    bottom: initial;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #565973;
  }

  .detail {
    padding: 10px;
  }

  .conteneur-services {
    display: block;
  }

  .service {
    flex-direction: row;
    margin-bottom: 20px;
  }

  .titre-services {
    margin-top: 30px;
  }

  .texte-service {
    display: none;
  }

  .img-nm {
    width: 100%;
    height: auto;
  }

  .notre-mission {
    padding: 50px 20px;
    margin-top: 0;
  }

  .titre-notre-mission {
    font-size: 22px;
  }

  .notre-mission-frame p {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .texte-notre-mission {
    font-size: 20px;
    width: 100%;
  }

  .description-notre-mission,
  .img-nm {
    width: 100%;
    margin-right: 0;
  }

  .info {
    padding: 30px 20px;
  }

  .item {
    flex-direction: column;
    align-items: center;
  }

  .text-info-helivo,
  .info-titre-principal {
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
  }

  .item img {
    width: 70%;
    height: auto;
    order: -1; /* Move image above text */
    margin-bottom: 10px; /* Add some space between image and text */
  }

  .contactus {
    padding: 20px 20px;
    width: 80%;
  }

  .titre-contact {
    font-size: 24px;
  }

  .text-contact {
    font-size: 16px;
  }

  .footer-logo p {
    margin-right: 20px;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }
}
