body.modernisation-page {
  background-image: linear-gradient(297deg, transparent 0%, transparent 34%,rgba(178, 178, 178,0.02) 34%, rgba(178, 178, 178,0.02) 53%,transparent 53%, transparent 100%),linear-gradient(222deg, transparent 0%, transparent 30%,rgba(8, 8, 8,0.02) 30%, rgba(8, 8, 8,0.02) 58%,transparent 58%, transparent 100%),linear-gradient(352deg, transparent 0%, transparent 25%,rgba(88, 88, 88,0.02) 25%, rgba(88, 88, 88,0.02) 57%,transparent 57%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

.title-service {
  font-weight: bold;
  margin-bottom: 10px;
}

.img-service {
  width: 350px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}

.section-modernisation {
  background-color: #161A30;
  padding: 50px 80px;
  border-radius: 25px;
}

.title-section-modernisation {
  color: #fff;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
  font-size: 26px;
}

.text-section-modernisation {
  color: #fff;
  font-size: 16px;
  margin-bottom: 50px;
  max-width: 800px;
}

.btn-section-modernisation {
  background-color: #31304D;
  color: #fff;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.btn-section-modernisation:hover {
  background-color: #fff;
  color: #31304D;
}

.img-section-modernisation {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center;
}

.btn-section-modernisation[aria-expanded="true"],
.btn-section-modernisation[aria-expanded="true"]:hover {
  background-color: #fff;
  color: #31304D;
}

.psm_banner {
  width: 100%;
  height: 30%;
  object-fit: cover;
  object-position: center;
}

.title-psm {
  font-weight: bold;
  margin-bottom: 10px;
}

.text-psm {
  font-size: 16px;
  margin-bottom: 75px;
}

#carouselExampleCaptions {
  border-radius: 50%;
  overflow: hidden;
}

.carousel-inner {
  border-radius: 50%;
  overflow: hidden;
}

.carousel-item {
  border-radius: 50%;
}

.psm-img-carroussel {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-caption {
  bottom: 8.25rem;
}

.carousel-indicators {
  bottom: 67px;
}
