<div class="footer">
  <div class="footer-content">
      <div class="footer-logo">
          <%= image_tag "logo_Upscale2x1.png" %>
          <p>Helivo</p>
      </div>
      <div class="footer-links">
          <a href="#">Termes et conditions</a>
          <a href="#">Politique de confidentialité</a>
      </div>
  </div>
  <div class="footer-bottom">
      <p class="copyright">© Helivo tous droits réservés 2023</p>
      <p class="made-by">Made with <span class="heart-symbol">&hearts;</span> by Quentin Langlois</p>
  </div>
</div>
