<div class="landing-banner">
  <div class="headingcontent">
          <h1 class="titre">
            <span>Votre Succès, </span><br>
            <span class="couleur-accent">Notre Code</span>
          </h1>
          <div class="sous-titre">
            <span class="texte-accroche">
              Explorez de nouveaux horizons numériques avec Helivo, <span class="texte-accroche-gras">votre partenaire de confiance</span> en développement web. Projets sur mesure, modernisation efficace, maintenance proactive et contenu SEO stratégique. Optez pour Helivo, où l'intelligence artificielle redéfinit la norme.
            </span>
          </div>
          <div class="button-frame">
            <button class="boutoncontact">
              <b class="contactez-nous">Contactez nous</b>
            </button>
          </div>
</div>


      <div class="headingframe">
        <div id="header"></div>
        <div class="headingcontent">
          <h1 class="titre">
            <span>Votre Succès, </span><br>
            <span class="couleur-accent">Notre Code</span>
          </h1>
          <div class="sous-titre">
            <span class="texte-accroche">
              Explorez de nouveaux horizons numériques avec Helivo, <span class="texte-accroche-gras">votre partenaire de confiance</span> en développement web. Projets sur mesure, modernisation efficace, maintenance proactive et contenu SEO stratégique. Optez pour Helivo, où l'intelligence artificielle redéfinit la norme.
            </span>
          </div>
          <div class="button-frame">
            <button class="boutoncontact">
              <b class="contactez-nous">Contactez nous</b>
            </button>
          </div>
        </div>
        <div class="details">
          <div class="detail">
            <img class="check-icon" alt="" src="app/assets/images/check.svg" />

            <div class="avantage">Expertise</div>
          </div>
          <div class="detail">
            <img class="check-icon" alt="" src="app/assets/images/check.svg" />

            <div class="avantage">Efficacité</div>
          </div>
          <div class="detail">
            <img class="check-icon" alt="" src="app/assets/images/check.svg" />

            <div class="avantage">Rentabilité</div>
          </div>
        </div>
      </div>
      <div class="conteneur-services" id="services">
        <h2 class="titre-services">Nos Services</h2>
        <div class="service">
          <div class="titre-et-texte-service">
            <h3 class="titre-service">Projets sur mesure</h3>
            <div class="texte-service">
              <p>Libérez le potentiel de votre entreprise avec nos Projets sur mesure, optimisés par l'IA. Notre approche novatrice et l'intégration de l'IA assurent une productivité accrue, réduisant le temps de développement tout en préservant une qualité exceptionnelle. Bénéficiez de solutions personnalisées adaptées à vos besoins spécifiques, propulsant votre entreprise vers des sommets inédits de manière rapide et efficace grâce à l'intelligence artificielle.</p>
            </div>
          </div>
          <img
            class="image-service"
            alt=""
            src="app/assets/images/service1.png"
          />
        </div>
        <div class="service">
          <img
            class="image-service"
            alt=""
            src="./public/services2.png"
          />
          <div class="titre-et-texte-service">
            <h3 class="titre-service">Modernisation de projets</h3>
            <div class="texte-service">
              <p>Dynamisez votre présence digitale avec notre service de Modernisation, propulsé par notre expertise en IA. Grâce à une analyse intelligente et à des solutions basées sur l'IA, nous modernisons rapidement votre projet, le rendant plus performant que jamais. Bénéficiez de cette modernisation rentable et ultra-rapide pour surpasser la concurrence et atteindre vos objectifs, tout en optimisant les coûts grâce à notre approche efficiente basée sur l'intelligence artificielle.</p>
            </div>
          </div>
        </div>
        <div class="service">
          <div class="titre-et-texte-service">
            <h3 class="titre-service">Maintenance active</h3>
            <div class="texte-service">
              <p>Gardez votre site à son meilleur niveau grâce à notre service de Maintenance active, soutenu par l'efficacité de l'intelligence artificielle. Notre système intelligent identifie les problèmes potentiels avant qu'ils ne surviennent, assurant une disponibilité maximale de votre site. L'IA nous permet d'offrir une maintenance proactive et rapide, vous épargnant des interruptions coûteuses et garantissant une expérience utilisateur optimale.</p>
            </div>
          </div>
          <img
            class="image-service"
            alt=""
            src="./public/services3.png"
          />
        </div>
        <div class="service">
          <img
            class="image-service"
            alt=""
            src="./public/services4.png"
          />
          <div class="titre-et-texte-service">
            <h3 class="titre-service">Contenu SEO stratégique</h3>
            <div class="texte-service">
              <p>Transformez votre visibilité en ligne avec notre Contenu SEO stratégique, superchargé par notre expertise en création de contenu assistée par l'IA. Grâce à des algorithmes intelligents, nous créons un contenu optimisé SEO rapidement et à moindre coût. Atteignez des résultats SEO exceptionnels tout en maximisant l'efficacité de votre budget. Notre avantage avec l'IA vous assure une stratégie de contenu SEO qui fait la différence.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="contactus" id="contact">
        <div class="contactusframe">
          <h2 class="titre-contact">Prêt à commencer ?</h2>
          <div class="text-contact">
            <p>Contactez nous par email pour discuter de votre besoin</p>
          </div>
          <div class="button-frame">
            <button class="boutoncontact">
              <b class="contactez-nous">Contactez nous</b>
            </button>
          </div>
        </div>
      </div>
      <div class="space"></div>
      <div id="footer"></div>
